.banner {
  font-size: var(--smedium-text-size);
  background-color: var(--color-red-transp-lightest);
  padding: 6px 12px;
  color: var(--color-warning);
  border-radius: 12px;
  margin-bottom: 24px;
}
