.CatalogItem {
    .catalog-name {
        overflow: hidden;

        .Icon {
            flex-shrink: 0;
        }
    }

    .catalog-label {
        margin-left: 8px;
        margin-right: 4px;
        font-size: var(--xsmall-text-size);
        color: var(--text-light);
        flex-shrink: 0;
    }

    .catalog-schemas {
        padding-left: 12px;
    }
}
