.DataDocCell {
    border-radius: var(--border-radius);
    margin: 28px 12px 32px;
    &.collapsed {
        min-height: 0px;
        cursor: nesw-resize;
    }
    &.disabled {
        opacity: 0.5;
    }
    &.disabled-fullscreen {
        opacity: 1;
    }
    .chart-cell-controls {
        align-items: flex-start;
    }
}
